<div class="container">
<footer>
    <div class="row">
        <div class="col-md-4">
            <a href="mailto:contact@rse.org.ntnu.no">
               <span class="glyphicon glyphicon-envelope"></span>
               contact@rse.org.ntnu.no
            </a>
        </div>
        <div class="col-md-4">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
            </a>
        </div>
    </div>
</footer>
</div>
