<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a class="navbar-brand" href="/">
                    <img src="/img/logo_32.png" style="display: inline-block;">
                    <span style="display: inline-block;">NTNU RSE</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="https://www.ntnu.no/wiki/display/rse">
                    <span class="display: inline-block">Wiki</span>
                </a>
        </li>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/events">
                    <span class="display: inline-block">Events</span>
                </a>
            </li>
            <li>
                <a href="mailto:contact@nordic-rse.org">
                    <span class="glyphicon glyphicon-envelope"></span>
                    contact@rse.org.ntnu.no 
                </a>
            </li>
        </ul>
    </div>
  </div>
</nav>
